@charset "UTF-8";
/*UTILS*/
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/*BASE*/
body {
  color: #212121;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.12;
  letter-spacing: 0.03em;
}

body.modal-open {
  overflow: hidden;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*================CONTAINER===============*/
.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  outline: springgreen;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.container.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*COMPONENTS*/
/*=========================LOGO=============================*/
.logo {
  padding-top: 16px;
  padding-bottom: 16px;
  color: #2196f3;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .logo {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    padding-top: 24px;
    padding-bottom: 25px;
    font-size: 26px;
    line-height: 1.192;
  }
}

.logo:hover, .logo:focus {
  color: #2196f3;
}

.header-studio {
  color: #000000;
}

.footer-studio {
  color: #ffffff;
}

/* ============     BUTTON   ============*/
.button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  min-width: 200px;
  color: #212121;
  background-color: #f5f4fa;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  align-items: center;
  letter-spacing: 0.03em;
  text-decoration: none;
  border: 0px;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover, .button:focus {
  color: #ffffff;
  background-color: #2196f3;
}

/* ===========  BUTTON  HERO (PRIMARY) =============  */
.button.primary {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  /* outline: none; */
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.primary:hover, .button.primary:focus {
  background-color: #188ce8;
}

/*============== BUTTON PORTFOLIO(SECONDARY)======= */
.button.secondary {
  color: #212121;
  background-color: #f5f4fa;
  padding: 6px 22px;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button.secondary:hover, .button.secondary:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button.secondary.all {
  min-width: 73px;
}

.button.secondary.web {
  min-width: 128px;
}

.button.secondary.app {
  min-width: 145px;
}

.button.secondary.design {
  min-width: 103px;
}

.button.secondary.marketing {
  min-width: 130px;
}

/* ===============MOBILE_MENU_BTN==============*/
.mobile-menu-btn {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.mobile-menu-btn:hover, .mobile-menu-btn:focus {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .mobile-menu-btn {
    display: none;
  }
}

.mobile-menu-btn-close {
  position: absolute;
  top: 8px;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: #ffffff;
  border: none;
}

@media screen and (min-width: 768px) {
  .mobile-menu-btn-close {
    display: none;
  }
}

.mobile-menu-btn-close:hover, .mobile-menu-btn-close:focus {
  color: #2196f3;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-menu,
.icon-cross {
  fill: currentColor;
}

/* ========= soc-links-team================ */
.socnetworks li {
  width: 44px;
  height: 44px;
  padding: 0;
  margin: 0;
}

.soclink {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  color: #afb1b8;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soclink-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.soclink:hover, .soclink:focus {
  color: #ffffff;
  background-color: #2196f3;
  outline: none;
}

.socnetworks li + li {
  margin-left: 10px;
}

/* LAYOUT*/
/* ================ПОРТФОЛІО========================*/
.navigation {
  margin-bottom: 50px;
}

.navigation .item + .item {
  margin-left: 8px;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.portfolio-item {
  /* width: 370px; */
  flex-basis: calc(100% / 3 - 30px);
  margin: 15px;
  background-color: #ffffff;
  outline: 1px solid #eeeeee;
}

.portfolio-text {
  padding: 20px 24px;
}

.portfolio-title {
  margin-top: 0px;
  margin-bottom: 4px;
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-type {
  margin: 0px;
  color: #757575;
  font-size: 16px;
}

.portfolio-link {
  display: block;
  margin: 0;
  text-decoration: none;
  transition-property: box-shadow, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover, .portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-overlay {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay-text {
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 0;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.556;
  letter-spacing: 0.03em;
  opacity: 0;
  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover .portfolio-overlay-text,
.portfolio-link:focus .portfolio-overlay-text {
  opacity: 1;
  transform: translatey(0);
}

/* ==============      HERO  =================== */
.hero {
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: 768px;
  min-height: 400px;
  background-color: #2f303a;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/maine/hero/hero-mob.jpg);
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/maine/hero/hero-mob@2x.jpg);
  }
}

.hero-title {
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 1600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/maine/hero/hero-tablet.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/maine/hero/hero-tablet@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/maine/hero/hero-desktop.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/maine/hero/hero-desktop@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.364;
    letter-spacing: 0.06em;
  }
}

/* =============== BENEFITS =========== */
.benefits .list-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0px;
}

.benefits .benefits-details {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #757575;
  line-height: 1.71;
}

.benefits-icon-list .item {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
}

.benefits-div-icon {
  width: 100%;
  height: 100%;
}

.benefits-icon {
  width: 70px;
  height: 70px;
}

/*=============JOB========================*/
@media screen and (max-width: 1199px) {
  .job {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .job {
    padding-bottom: 94px;
  }
  .job-list {
    display: flex;
  }
  .job-link {
    text-decoration: none;
  }
  .job-item {
    margin: 0px;
  }
  .job-list .job-item + .job-item {
    margin-left: 30px;
  }
  .job h2,
  .team h2,
  .clients h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.167;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 50px;
  }
  .job img,
  .team img,
  .portfolio img {
    display: block;
  }
  .job-thumb {
    position: relative;
  }
  .job-text {
    position: absolute;
    height: auto;
    width: 100%;
    margin: 0;
    bottom: 0;
    color: #ffffff;
    background: rgba(47, 48, 58, 0.8);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    text-align: center;
    text-transform: uppercase;
    padding: 27px 0;
  }
}

/* ==================   TEAM  =============== */
.team {
  background-color: #f5f4fa;
}

.team-list {
  margin: 0;
  padding: 0;
}

.team .item {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-link {
  color: #212121;
  text-decoration: none;
  outline: none;
}

.team-list .item + .item {
  margin-left: 30px;
}

.team h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.192;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 10px;
}

.team p {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.17;
  text-align: center;
  margin-top: 0px;
}

.team img {
  margin-top: 0px;
  margin-bottom: 30px;
}

/* ===============CLIENTS=========== */
.clients .item {
  width: 170px;
  height: 90px;
}

.clients .link {
  width: 100%;
  height: 100%;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients .link:hover, .clients .link:focus {
  color: #2196f3;
  border: 1px solid #2196f3;
}

.clients-icon {
  fill: currentColor;
}

.icon-logo-1 {
  width: 44.27px;
  height: 49.23px;
}

.icon-logo-2 {
  width: 40px;
  height: 52px;
}

.icon-logo-3 {
  width: 41px;
  height: 42.6px;
}

.icon-logo-4 {
  width: 79.66px;
  height: 42.02px;
}

.icon-logo-5 {
  width: 59px;
  height: 47px;
}

.icon-logo-6 {
  width: 88.48px;
  height: 45.44px;
}

/* ==============     FOOTER  =================== */
.footer {
  background-color: #2f303a;
}

.footer .socnetworks {
  margin: 0;
  padding: 0;
}

.footer .soclink {
  color: #ffffff;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .soclink:hover, .footer .soclink:focus {
  background-color: #2196f3;
  outline: none;
}

.footer-logo-address > .logo {
  padding: 0px;
}

.basement .web,
.basement .footer-studio {
  display: inline-block;
  padding: 0;
}

.basement .link {
  display: inline-block;
  line-height: 1.71;
}

.basement .tel {
  margin-bottom: 0;
}

.footer-address > .link {
  color: #ffffff;
  font-style: normal;
  text-decoration: none;
}

.basement .mail,
.basement .tel {
  color: #ffffff99;
  text-decoration: none;
}

.footer b {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

/* ======================FORM FOOTER=========================== */
.footer-form-email {
  margin: 0;
  padding: 0;
  width: 358px;
  height: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400px;
  font-size: 16px;
  line-height: 1.185px;
  letter-spacing: 0.03em;
  color: whitesmoke;
  background: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.footer-form-email::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-sign-up-bth {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875px;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-origin: border-box;
  border: transparent;
  cursor: pointer;
}

.sign-up-icon {
  fill: #ffffff;
}

/* =================  MODAL  =========================== */
.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* transform: translate(-50%, -50%) scale(1); */
  transform: translate(-50%, -50%) rotate(1turn);
}

@media screen and (max-width: 1199px) {
  .modal {
    height: 95%;
    max-height: 609px;
    overflow: scroll;
    width: 100%;
    max-width: 450px;
  }
}

.backdrop.is-hidden .modal {
  /* transform: translate(-50%, -50%) scale(0.9); */
  transform: translate(-50%, -50%) rotate(0deg);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.btn-modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  /* outline: none; */
  cursor: pointer;
}

.btn-modal-close:hover, .btn-modal-close:focus {
  color: #2196f3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close {
  fill: #000000;
}

/* =======================MODAL FORM======================= */
.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-text {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

@media screen and (max-width: 1199px) {
  .modal-form-text {
    font-weight: 20px;
    line-height: 1.5;
  }
}

.name-label,
.tel-label,
.email-label,
.comment-label {
  display: inline-block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: #757575;
}

.name-input,
.tel-input,
.email-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}

.comment-input {
  display: block;
  width: 100%;
  height: 120px;
  padding-left: 16px;
  padding-top: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
}

.name-input:focus,
.tel-input:focus,
.email-input:focus,
.comment-input:focus {
  border: 1px solid #2196f3;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-form-send {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  background-origin: border-box;
  border: transparent;
}

.button-form-send:focus {
  background: #188ce8;
  background-origin: border-box;
  border: transparent;
}

div.relative {
  position: relative;
}

.modal-form .name-icon,
.modal-form .tel-icon,
.modal-form .email-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.modal-form input:focus ~ svg {
  fill: #2196f3;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ==========NEW CHECKBOX======================================== */
.checkbox0 {
  position: absolute;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.checkbox-label0 {
  margin-left: 23px;
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (max-width: 1199px) {
  .checkbox-label0 {
    font-size: 12px;
    line-height: 1.167;
  }
}

.checkbox-label0::after {
  position: absolute;
  top: 50%;
  left: 1px;
  transform: translateY(-50%);
  content: '';
  display: inline-block;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  background-image: url(../images/maine/icon-empty.svg);
  background-origin: border-box;
}

.exept-form-field0 {
  position: relative;
  /* box-sizing: content-box; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.exept-form-field0 a {
  color: #2196f3;
}

.comment-form-field {
  margin-bottom: 20px;
}

.exept0 {
  margin-left: 4px;
}

@media screen and (max-width: 1199px) {
  .exept0 {
    font-size: 12px;
    line-height: 1.167;
  }
}

.checkbox0:checked + .checkbox-label0::after {
  background-image: url(../images/maine/icon-check.svg);
  background-origin: border-box;
  border-radius: 2px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.name-form-field,
.tel-form-field,
.email-form-field {
  margin-bottom: 10px;
}

/* ========MOBILE_MENU========*/
.mobile-menu-container {
  position: absolute;
  display: none;
  background-color: #ffffff;
  padding-left: 40px;
  padding-top: 48px;
  padding-bottom: 48px;
  max-width: 480px;
  height: 796px;
  border: 2px solid turquoise;
  color: #212121;
  font-family: Roboto;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
}

.mobile-menu-container.is-open {
  display: block;
  position: absolute;
  top: 0.1px;
}

@media screen and (min-width: 768px) {
  .mobile-menu-container {
    border: 2px solid rebeccapurple;
    display: flex;
    position: static;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    min-width: 619px;
    height: 100%;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
  }
}

@media screen and (min-width: 1200px) {
  .mobile-menu-container {
    border: 2px solid red;
    min-width: 1040px;
  }
}

.site-nav {
  display: flex;
  justify-content: space-between;
}

.site-nav-list {
  margin-bottom: 302px;
}

@media screen and (min-width: 768px) {
  .site-nav-list {
    margin-bottom: 0;
    margin-left: 88px;
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .site-nav-list {
    margin-left: 93px;
  }
}

.site-nav-list .link {
  display: block;
  color: #212121;
  text-decoration: none;
}

.site-nav-list .link:hover, .site-nav-list .link:hover {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .site-nav-list .link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.site-nav-list__item:not(:last-child) {
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .site-nav-list__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 50px;
  }
}

.header-contact__icon--mail,
.header-contact__icon--tel {
  display: none;
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .header-contact__icon--mail,
  .header-contact__icon--tel {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
  }
}

.header-contact {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 64px;
}

@media screen and (min-width: 768px) {
  .header-contact {
    margin: 0;
    flex-direction: column;
  }
  .header-contact .header-contact__item--mail {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .header-contact {
    flex-direction: row;
  }
  .header-contact .header-contact__item--mail {
    margin-bottom: 0px;
  }
}

.header-contact__link--tel {
  color: #2196f3;
  font-size: 34px;
  line-height: 1.176;
  text-decoration: none;
}

.header-contact__link--tel:hover, .header-contact__link--tel:focus {
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .header-contact__link--tel {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
  }
}

.header-contact__link--mail {
  color: #757575;
  font-size: 24px;
  line-height: 1.167;
  text-decoration: none;
}

.header-contact__link--mail:hover, .header-contact__link--mail:focus {
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .header-contact__link--mail {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .header-contact__link--mail,
  .header-contact__link--tel {
    display: flex;
    color: #757575;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.167;
  }
}

@media screen and (min-width: 1200px) {
  .header-contact__link--mail,
  .header-contact__link--tel {
    font-size: 14px;
    line-height: 1.13;
  }
}

.mobile-menu-soclink-list {
  display: flex;
}

@media screen and (min-width: 768px) {
  .mobile-menu-soclink-list {
    display: none;
  }
}

.mobile-menu-soclink-link {
  position: relative;
  display: block;
  margin-right: 10px;
  padding-right: 10px;
  color: #2196f3;
  font-size: 18px;
  line-height: 1.222;
  text-decoration: none;
}

.mobile-menu-soclink-link::after {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  display: block;
  height: 22px;
  width: 1px;
  background-color: #757575;
}

.site-nav-list__item .current {
  position: relative;
  display: block;
  color: #2196f3;
}

.site-nav-list__item .current::after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  display: block;
  height: 4px;
  width: 100%;
  background-color: #2196f3;
  border-radius: 2px;
  align-self: flex-end;
}

@media screen and (max-width: 767px) {
  .site-nav-list__item .current::after {
    display: none;
  }
}

.mobile-menu-soclink-link--Linkedin::after {
  display: none;
}

.icon-menu,
.icon-cross {
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .header-contact__icon--mail {
    width: 14px;
    height: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .header-contact__icon--mail {
    width: 16px;
    height: 12px;
  }
}

@media screen and (min-width: 768px) {
  .header-contact__icon--tel {
    width: 10px;
    height: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .header-contact__icon--tel {
    width: 10px;
    height: 16px;
  }
}
/*# sourceMappingURL=main.css.map */