// :root {
//   --maine-text-color: #212121;
//   --secondary-text-color: #757575;
//   --accent-color: #2196f3;
//   --primary-white-color: #ffffff;
//   --header-studio-color: #000000;
//   --hero-background: #2f303a;
//   --footer-background: #2f303a;
//   --button-secondary-background: #f5f4fa;
//   --frame-portfolio-photo: #eeeeee;
//   --icons-color: #afb1b8;
//   --transition-duration: 250ms;
//   --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
// }

$maine-text-color: #212121;
$secondary-text-color: #757575;
$accent-color: #2196f3;
$primary-white-color: #ffffff;
$header-studio-color: #000000;
$header-border-btn-color: #ececec;
$hero-background: #2f303a;
$footer-background: #2f303a;
$button-secondary-background: #f5f4fa;
$frame-portfolio-photo: #eeeeee;
$icons-color: #afb1b8;
$button-primary-focus-bg-color: #188ce8;
$transition-duration: 250ms;
$transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
